/* We'll need some initial vars to use here */
@import "~bulma/sass/utilities/initial-variables";


/* Base: Size  */
$size-base: 1rem;
$default-padding: $size-base * 1.5;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Layout Overrides
$section-padding: 1rem 0.5rem;
$section-padding-medium: 1.5rem 0.5rem;
$section-padding-large: 3rem 0.5rem;
$widescreen-enabled: false;
$fullhd-enabled: false;

/* General overrides */
$primary: #C01B28;
$default-shadow: 0 2px 3px rgba(black, 0.1), 0 0 0 1px rgba(black, 0.1) !default;


/* Status/State colors (based on Bulma's) */
$state-colors:
  ('primary', $primary, $white),
  ('info', $cyan, $white),
  ('success', $green, $white),
  ('warning', $yellow, $grey-darker),
  ('danger', $red, $white),
  ('dark', $grey-darker, $white),
  ('white', $white, $black-ter);


// $footer-padding: ;

// Content Overrides
